*{
    margin: 0;
    padding: 0;
}
.one, .two, .three{
    list-style: none;
    margin: 3%;
    background-color: grey;
    text-align: center;
    /* padding: 3%; */
    
}
.button2{
    background-color: hotpink;
    border: none;
}
button{
    padding: 3%;
}
li{
    padding: 3%;
}
.one{
    float: left;
    background-color: grey;
}
.two{
    background-color: grey;
    display: inline-block;
    margin-left: 131px;
}
.three{
    float: right;
}